body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #EDEBE8;
  color: #1C1914;
}

h1, h2, h3, h4, h5, h6, ul, p {
	margin: 0;
	padding: 0;
}

.bold {
	font-weight: bold;
}

a:visited {
	color: inherit;
}

.display-flex {
	display: flex;
}

.align-items-center {
	align-items: center
}

.topbar {
	background-color: white;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px 100px;
	border-bottom: 1px solid lightgray;
	color: #666;
	
}

.topbar a {
	color: #666;
}

.app-title {
	font-size: 32px;
	font-weight: bold;
	color: #00A86B;
}

.app-description {
	font-size: 14px;
	padding-left: 10px;
	padding-top: 4px;
	font-weight: bold;
	font-style: italic;
}

.navbar {
	list-style-type: none;
}
.navbar li {
	display: inline-block;
	margin-right: 20px;
}
.navbar a {
	text-decoration: none;
	font-size: 16px;
}
.navbar a:hover, .navbar a:focus {
	text-decoration: underline;
}
.active-route{
   font-weight: bold;
}

#mainContent {
	padding: 10px 20px;
	display: grid;
	grid-template-columns: 40px 50px auto 50px 40px;
	grid-template-rows: auto auto auto;
}

#searchContainer {
	grid-column-start: 2;
	grid-column-end: 5;
	display: flex;
	justify-content: center;
	grid-row-start: 1;
	grid-row-end: 1;
}

.search-component input {
	display: block;
	height: 50px;
    font-size: 40px;
    width: 100%;
}

#homePageSearch {
	margin-top: 20px;
}

#homePageSearch label {
	font-size: 55px;
	color: #666;
	margin-bottom: 10px;
}

#homePageSearch input {
	margin-top: 5px;
	position: relative;
}

#recommendations {
	grid-row-start: 2;
	grid-row-end: 2;
	grid-column-start: 3;
	grid-column-end: 5;

}

.recommendation-text {
	margin: 30px 0;
	font-size: 30px;
	color: #00A86B;
	text-align: center;
}

#recommendedRecipeList {
	display:grid;
	grid-template-columns: 33% 33% 33%;
	grid-template-rows: 300px;
}

#recommendedRecipeList a{
	font-size: 25px;
	text-decoration: none;
	color: #00A86B;
}

.recommended-recipe {
	padding-right: 10px;
}
